*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #2d132c;
    width: 45%;
    height: 50vh;
    margin: 20px auto;
}

.tabs-container{
    overflow-x: hidden;
}

.tabs{
    display: flex;
}

.tab{
    cursor: pointer;
    padding: 15px 25px;
}

.tab h3{
    color: #c72c41;
    font-weight: normal;
    font-size: 16px;
}

.tab:hover h3{
    color: #ee4540;
}

.tab:hover{
    background-color: rgb(238, 69, 64, 0.1);
}

/* .tab-selected{
    border-bottom: 3px solid #ee4540;
} */

.tab-selected-border{
    transition: 0.8s ease;
    position: relative;
    left: 0;
    width: 86px;
    height: 4px;
    background-color: #ee4540;
}

.tab-selected h3{
    color: #ee4540;
}